* {
font-family: 'Quicksand', sans-serif;
}

.outer {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  flex-direction: column;
}

.inner {
  display:flex;
  width:100%;
  max-width:800px;
  flex-direction:column;

}

.content {
  background-image: url(/static/barometer/img/rand.svg);
  background-size:100% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  padding:12%;
  min-height:400px;
  margin-top:50px;
  width:100%;
}

.footer {
  display:flex;
  flex-direction:row;
  width:100%;
  padding-left:10%;
  padding-right:10%;
  align-items: center;
}


.impressum, .logo {
  vertical-align: middle;
padding-left:0px;
padding-right:0px;
color:#999999;

}

.impressum {
  width:80%;
}

.logo {
  width:20%;
}

.impressum a {
color:#999999;

 }

 .impressum a:hover {
color:#999999;

 }


.hdm_logo{
  height:auto;
  width:30%;
  float:right;
}


ul{
  list-style-type: none;
}

.title {
  margin-bottom:20px;
  font-variant: small-caps;

}

h1 {
  font-size: 16pt;
  margin-bottom: 30px;
}

.centered{
  text-align:center;
}


.setupintro{
  display:flex;
  flex-direction: row;
  width:100%;
}

.introimg {
  width:60%;
}

.introimg img {
  width:100%;
  height:auto;
}

.setuptable tr td, .setuptable tr th {
  padding:10px 50px 10px 0px; 
}

.setuptable tr th {
  width:25%;
}

.errorlist {
  color:red;
  padding-left:0px;
}

.errorlist + input {
  color:red;
}


.helptext {
  color:#999999;
  margin-top:20px;
}

.radio{border:0px; width:17px; height:17px;}

.radio:hover{cursor: pointer;}

.setupform div {
  margin-bottom: 10px;
}

.radios {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:70px;
  margin-bottom:50px;
}
 .radios input {
    margin-left:3px;
    margin-right:3px;
 }

 .directlink {
    margin-top:10px;
    font-size:small;
 }

.mintext {
  margin-right:20px;
}

.maxtext {
  margin-left:20px;
}

.votebutton {
   padding:10px;
   background-color:#a5d000;
   border-color:#a5d000;
   color:black;
   

}
.votebutton:hover {
   background-color:#bef000;
   border-color:#bef000;
   color:black;
   

}

.baroimg {
  width:100%;
  height:auto;
}

.durchschnitt {
  font-size: 20pt;
  margin-bottom:0;
}

.durchschnitt span {
  margin:0;
  border:2px solid #999999;
  padding:0px 4px 0px 4px;
}

.skala {
  margin-top:3px;
  font-size:7pt;
  margin-bottom:20px;
}

.status {
  font-size:12pt;
  color:#999999;
}

.smileyleft, .smileyright {
  width:auto;
  height:60px;
  margin:0px 10px 0px 10px;
}

.description {
  text-align:left;

  color:#999999;
  margin-top:40px;
}
.persons{font-size: 10px;}
