
body{ background-color:white ; background-image: url('versuch.svg'); background-repeat: no-repeat;   background-attachment: fixed; background-size: 100% 100%; font-family: "Verdana", sans-serif; }
        
#inhalt{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
        
#teilnahme{font-weight:bold; padding:7px; text-align:center; color:black; font-family: "Verdana", sans-serif; font-size:22px;}
        
#speichern_button{ font-size:18px;  padding:15px; border-radius: 12px;  background-color:#3e4847; color:white; border:0px;position: absolute; top: 110%; left: 50%; transform: translate(-50%, -50%); width:200px;}

#speichern_button:hover{cursor: pointer;}
        
.radio{border:0px; width:17px; height:17px;}
        
.radio:hover{cursor: pointer;}
        
footer{position: absolute; bottom: 10px; }
        
#barometer{position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);}

#tag{position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%);}

#durchschnitt{font-weight:bold; font-size:20px; position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%);}

#zeit{position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%);}

#durchschnitt_link{position: absolute; top: 81%; left: 50%; transform: translate(-50%, -50%);}

#projekt{color:#a5a4a4; margin-bottom:-40%; float:bottom;}

#hdm_logo{margin-left:510%; size:60%;}

#question{position: absolute; top: 22%; left: 33%; transform: translate(-50%, -50%);}

#minimum{position: absolute; top: 32%; left: 43.5%; transform: translate(-50%, -50%);}

#maximum{position: absolute; top: 42%; left: 44%; transform: translate(-50%, -50%);}

#anlegen_button{font-size:18px;  padding:15px; border-radius: 12px;  background-color:#3e4847; color:white; border:0px;position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%); width:200px;}

#anlegen_button:hover{cursor: pointer;}