
body{ background-color:white ; background-image: url('versuch.svg'); background-repeat: no-repeat;   background-attachment: fixed; background-size: 100% 100%;  }
        
#inhalt{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
        
p{font-weight:bold; padding:7px; text-align:center; color:black; font-family: "Verdana", sans-serif; font-size:22px;}
        
button{ font-size:18px; font-family: "Verdana", sans-serif; padding:15px; border-radius: 12px; margin-left:25%; color:white; background-color:#3e4847; border:0px;}

button:hover{cursor: pointer;}
        
#hdm_logo{margin-left:60px;}
        
.radio{border:0px; width:17px; height:17px;}
        
.radio:hover{cursor: pointer;}
        
#projekt{color:#a5a4a4; margin-left:10%, margin-right:10%;}
        
footer{position: absolute; bottom: 10px; }
        
#barometer{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}