{% extends 'barometer/base.html' %}
{% load static %}
{% block content %}
<div class="impress">
  <h2> Über das Projekt</h2>
  <p>Dieses Stimmungsbarometer wurde als Teilprojekt in der Veranstaltung Web Programmierung im dritten Semester des Studiengangs <a href="https://www.hdm-stuttgart.de/iw">Informationswissenschaften</a> an der Hochschule der Medien Stuttgart entwickelt.</p>
  <h2>Ziel dieses Projekts</h2>
  <p>Aufgrund der Corona-Pandemie finden im Sommersemester 2020 die Vorlesungen online statt. Eine besondere Herausforderung dabei ist die Tatsache, dass durch den fehlenden direkten Kontakt Probleme, die z.B. durch Überforderung in den Lehrveranstaltungen entstehen können, nicht zeitnah erkannt werden.</p>
  <p>
  Die Idee des Stimmungsbarometers ist es, Veränderungen in der Gesamtstimmung der Studierenden frühzeitig zu erkennen, um so ggf. durch gezielte Feedback-Runden oder Gespräche auf mögliche Probleme eingehen zu können.
  </p>

  <p>
  Hier könnt Ihr auch eigene Barometer anlegen: <a href="{% url 'start' %}">Start</a> 
  </p>

  <h2>Beteiligte</h2>
  <p>
 Aaron Ramspott<br />
 Esad Skenderi<br />
 Güney Yilmaz<br />
 Jessica Puscha<br />
 Laura Planells<br />
 Nicole Keller<br />
 Yvonne Hart-Oesterle<br />
 Zuhal Kocabiyik<br />
 Dozent: Kai Eckert<br />
  </p>
  <p>
  <a href="javascript:window.history.back()">Zurück</a>
  </p>
</div>
{% endblock content %}
