{% extends 'barometer/base.html' %}
{% load static %}
{% block content %}

<div class="centered">


  {% if baro.title %}
    <div class="title">{{baro.title}}</div>
  {% endif %}
  <h1>Durchschnitt der letzten 24 Stunden<br><small>{{baro.question}}</small></h1>

<img src="{% url 'show_barometer' angle %}" class='baroimg' /> <br>


<div class="durchschnitt">
  <span>{{avg}}</span>
</div>
<div class="skala">
Skala von {{baro.minimum}} bis {{baro.maximum}}
<br>
Abgegebene Stimmen in den letzten 24 Stunden: {{count}}
<br>
Abgegebene Stimmen im Semester: {{count_semester}}
<br>
Duchschnitt im Semester: {{avg_semester}}
<br>
Semesterstart: {{semester_start | date:"d.m.Y"}}
</div>

<div class="status">
{% if vote_allowed %}
  <a href="{% url 'barometer' slug %}">Zur Stimmabgabe</a>
{% else %}
  Nächste Möglichkeit zur Abstimmung: <br>
 {{next_vote | date}}. <br>
{% endif %}

</div>
  {% if baro.description %}
    <div class="description">{{baro.description | linebreaks}}</div>
  {% endif %}
</div>

{% endblock content %}


