{% load static %}
{% load cookielaw_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barometer</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'barometer/css/bootstrap-4.4.1.min.css' %}">   
    <link rel="stylesheet" href="{% static 'barometer/css/design.css' %}">
    <link rel="icon" sizes="120x120" href="{% static 'barometer/img/Baro_stimmung_drehbar_0_plain.svg' %}" type="image/svg">
    <script src="{% static 'cookielaw/js/cookielaw.js' %}" type="text/javascript"></script>
  </head>
  <body>
    {% cookielaw_banner %}
    <div class="outer">
      <div class="inner">
        <div class="content">
          {% block content %}

          INSERT YOUR CONTENT HERE

          {% endblock content %}
        </div>
        <div class="footer">
          <div class="impressum"><a href="{% url 'impressum' %}">Impressum</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'about' %}">Über das Projekt</a></div>
          <div class="logo">
            <a href='http://www.hdm-stuttgart.de'>
              <img class="hdm_logo" src="{% static 'barometer/img/hdm-logo.svg' %}"/>
            </a>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
