{% extends 'barometer/base.html' %}
{% load static %}
{% block content %}
<div class="impress">
<p>
<h2>Impressum</h2>
<p>
Diese Webanwendung haben die Studierenden im dritten Semester der Informationswissenschaft an der HdM Stuttgart im virtuellen Sommersemester 2020 entwickelt, im Rahmen der Lehrveranstaltung Web Programmierung bei Prof. Dr. Kai Eckert. 
</p>




<p>
<b>Verantwortlich für den Inhalt dieser Website:</b><br>
Prof. Dr. Kai Eckert<br>
Hochschule der Medien<br>
Nobelstr. 10<br>
D-70569 Stuttgart<br>
Telefon: +49 (0) 711 8923-3164<br>
</p>

<p>
<b>Kontakt per Mail</b><br>
E-Mail: <a href="mailto:eckert@hdm-stuttgart.de">Hier klicken</a><br>
</p>
<p>
Es gilt das <a href="https://www.hdm-stuttgart.de/impressum">Impressum</a> der Hochschule der Medien.
</p>

<h2>Datenschutzerklärung</h2>
Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Website. 
Beim Besuch unserer Webseite wird Ihre IP-Adresse, Beginn und Ende der Sitzung für die Dauer dieser Sitzung erfasst. Dies ist technisch bedingt und stellt damit ein berechtigtes Interesse iSv Art 6 Abs 1 lit f DSGVO dar. Ihre persönlichen IP-Daten werden von uns nicht weiterverarbeitet. 
<h2>Cookies</h2>
Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an. Wir nutzen Cookies dazu, um Ihren Browser beim nächsten Besuch wiederzuerkennen. Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. 
Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben.
Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.
    </p>
    <a href="javascript:window.history.back()">Zurück</a>
</div>
{% endblock content %}
