{% extends 'barometer/base.html' %}
{% load static %}
{% block content %}

<h1>Barometer einrichten</h1>
<div class='setupintro'>
<div class="introtext">
<p>Hier kannst du ein neues Barometer einrichten, das unter der folgenden URL verfügbar sein wird:
</p>
<p>
<a href="/{{slug}}">http://barometer.wisslab.org/{{slug}}</a>
</p>
<p>
<strong>Achtung:</strong> Es ist <strong>nicht</strong> möglich, das Barometer hinterher zu editieren, also wähle weise. :-)</p>
</div>
<div class="introimg">
<img src="{% static 'barometer/img/example.png' %}" alt="Beispielbild">
</div>
</div>

<form class="setupform" action="{% url 'barometer' slug %}" method="post">
  {% csrf_token %}
  <table class='setuptable'>
  {{ form.as_table }}
  <tr>
    <td colspan="2"><input class='votebutton btn btn-primary' type="submit" value="Barometer anlegen"/>
  </tr>
  </table>

</form>

{% endblock content %}
