{% extends 'barometer/base.html' %}
{% load static %}
{% block content %}

<h1>Stimmungsbarometer</h1>
<p>
Hier kannst du schnell und unkompliziert ein eigenes Stimmungsbarometer einrichten, um eine einfache tägliche Umfrage zu starten.
</p>
<form action="{% url 'start' %}" method="post">
{% csrf_token %}
<p><label for="slug">Name/URL für dein neues Barometer:</label></p>
<p><input type="text" name="slug" id="slug"></p>
<p><input class='votebutton btn btn-primary' type="submit" value="Barometer einrichten"></p>
</form>
<p>
Hier geht es zu unserem Beispielbarometer:<br>
<a href="http://barometer.wisslab.org/fuer-alle">http://barometer.wisslab.org/fuer-alle</a>
</p>
{% endblock content %}
