{% extends 'barometer/base.html' %}
{% load static %}
{% block content %}

<div class="centered">

  {% if baro.title %}
    <div class="title">{{baro.title}}</div>
  {% endif %}
  <h1>{{baro.question}}</h1>
  <form action="{% url 'barometer' baro.slug %}" method="post">

    {% csrf_token %}
    <div class="radios">
      {% if baro.show_smileys %}
        <img src="{% static 'barometer/img/baro1.svg' %}" class='smileyleft'/>

      {% endif %}
      <span class="mintext">
        {{baro.minimum_text}}
      </span>
      {% for value in range %}

      <input type="radio" name="vote" id="vote_{{value}}" value={{value}}>

      {% endfor %}
      <span class="maxtext">
        {{baro.maximum_text}}
      </span>
      {% if baro.show_smileys %}
        <img src="{% static 'barometer/img/baro6.svg' %}" class='smileyright'/>

      {% endif %}

    </div>
    <br>
    <input class='votebutton btn btn-primary' type="submit" value="Stimmung speichern">
  </form>
  <div class="directlink">
    Oder: <a href="{% url 'barometer' slug %}?result">Direkt zum Ergebnis</a>

  </div>
  {% if baro.description %}
    <div class="description">{{baro.description | linebreaks}}</div>
  {% endif %}

</div>

{% endblock content %}

